h1,
h2,
h3,
h4,
h5,
h6,
.display-4,
.navbar-brand {
    font-family: 'Montserrat', sans-serif;
}

html {
    height: 100%;
}
body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr auto;
}
