{{ $src := .Get "src" }}
{{ if hasPrefix $src "/" }}
    {{ $src = ($src | relURL) }}
{{ end }}
{{ $type := split (.Get "type" | default "svg png") " " }}
<div class="logo m-4 d-inline-block">
    <img class='mb-3{{ if .Get "dark" }} bg-dark{{ end }}' height="150" src="{{ $src }}" alt='{{ .Get "alt" }}'>
    {{ .Inner }}
    <div class="btn-group">
        {{ if in $type "svg" }}<a class="btn btn-secondary" href='{{ replace $src ".png" ".svg" }}'>SVG</a>{{ end }}
        {{ if in $type "png" }}<a class="btn btn-secondary" href='{{ replace $src ".svg" ".png" }}'>PNG</a>{{ end }}
        {{ if in $type "pdf" }}<a class="btn btn-secondary" href='{{ replace $src ".jpg" ".pdf" }}'>PDF</a>{{ end }}
    </div>
</div>
